<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8080/hello/form-post-handle2" method="POST">
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit" id=join value="제출">회원가입</button>
</form>
</body>
</html>
